{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{% static 'css/base.css' %}" rel="stylesheet"> 
	<title></title>

  <style type="text/css">
    ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
  </style>
</head>
<body>   

	<nav class="navbar navbar-expand-lg navbar-light bg-light mr-auto">
  <a class="navbar-brand" href="{% url 'home' %}">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    
      <ul class="nav navbar-nav ml-auto"><li><a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a></li>
        <li class="dropdown bg-light">
              <a class="nav-item nav-link" href="{% url 'brand' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Brand&Strategy<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'brand' %}">Brand Research</a></li>
                <li><a href="{% url 'brand' %}">Guidlines</a></li>
                <li><a href="{% url 'brand' %}">Communication Strategy</a></li>
              </ul>
        </li>
        <li class="dropdown bg-light">
              <a class="nav-item nav-link" href="{% url 'digital' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DigitalPlatform<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'digital' %}">Web Building</a></li>
                <li><a href="{% url 'digital' %}">SEO, SEM</a></li>
                <li><a href="{% url 'digital' %}">E-Commerce Development</a></li>
                <li><a href="{% url 'digital' %}">Adwords for marketing</a></li>
              </ul>
        </li>
        <li class="dropdown bg-light">
              <a class="nav-item nav-link" href="{% url 'socialmedia' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SocialMedia Marketing<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'socialmedia' %}">Content Creation</a></li>
                <li><a href="{% url 'socialmedia' %}">Content Promotion</a></li>
                <li><a href="{% url 'socialmedia' %}">Influencers Marketing</a></li>
                <li><a href="{% url 'socialmedia' %}">Trending Content & Offers</a></li>
              </ul>
        </li>
        <li class="dropdown bg-light">
              <a class="nav-item nav-link" href="{% url 'virtualtour' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">360 degree Virtual Tour<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'virtualtour' %}">Photo shoot of Business place</a></li>
                <li><a href="{% url 'virtualtour' %}">Ambience Photo shoot</a></li>
                <li><a href="{% url 'virtualtour' %}">Product Photo shoot</a></li>
              </ul>
        </li>
      
      <li><a class="nav-item nav-link" href="{% url 'ourclients' %}">OurClients</a></li>
      <li><a class="nav-item nav-link" href="{% url 'contactus' %}">Contactus</a></li>
    </ul>   
    
  </div>
</nav>
<!-- <nav class="navbar navbar-light navbar-expand-sm bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Logo</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'aboutus' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contactus' %}">Home</a></li>
      </ul>
  </div>
</nav> -->
{% block content %}

{% endblock content %}
<!-- <script>
  $('ul.nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
});
</script> -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>